body {
    font-size: 1em;
    text-align: center;
    color: #E94F37;
    background-color: #393E41;
}

h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #44BBA4;
}

.container {
    margin-top: 20px;
    background-color: #F6F7EB;
    border-radius: 15px;
    border: 9px solid #E94F37;
}

.eat, .noteat {
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    /* border: 1px solid #fff; */
    height: 100%;
    margin-bottom: 30px;
}

.burger-image {
    margin-top: 30px;
    width: 150px;
}

.noteat ul, .eat ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.noteat ul li, .eat ul li {
    margin: 5px 0;
    border-radius: 20px;
    background: #28907c;
    padding: 5px 0;
    color: #fff;
}

.add {
    /* margin-top: 30px; */
}

.burgerclass {
    /* border: 1px solid black; */
    font-size: 1.2em;
}

.change-eat, .delete-burger {
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    background: #44BBA4;
}

.change-eat:hover, .delete-burger:hover {
    background: #fff;
}